<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link  rel="stylesheet" type="text/css" href="{{ urlroot|e }}/style.css">
		<link rel="icon" type="image/vnd.microsoft.icon" sizes="32x32" href="{{ urlroot|e }}/favicon.ico">
		{% block header %}{% endblock %}
	</head>
	<body>
{% block content %}
{% endblock %}
<hr>
<h4>Details about this service</h4>
<ul>
	<li>More information: <a href="http://wiki.debian.org/dedup.debian.net">see wiki</a></li>
	<li>Maintainer: Helmut Grohne &lt;helmut@subdivi.de&gt;</li>
	<li>Source: git://murkel.subdivi.de/~helmut/debian-dedup.git</li>
	<li>Bugs reports / Feedback / Patches: to the maintainer</li>
</ul>
	</body>
</html>
