{% extends "base.html" %}
{% block title %}Debian duplication detector{% endblock %}
{% block header %}
    <script type="text/javascript">
        function getLinkTarget() {
            var pkg = document.getElementById("pkg_name").value;
            if(pkg) {
                return "/binary/"+pkg;
            }
            return '#';
        }
        function processData() {
            var link = document.getElementById("perma_link");
            link.href = getLinkTarget();
            link.text = location.href + getLinkTarget();
        }
        window.onload = function() {
            document.getElementById('pkg_name').onkeyup = processData;
            document.getElementById("pkg_form").onsubmit = function () {
                location.href = getLinkTarget();
                return false;
            }
            processData();
            document.getElementById("form_div").style.display = '';
        }
    </script>
{% endblock %}
{% block content %}
<h1>Debian duplication detector</h1>
<ul>
<li>To inspect a particlar binary package, go to <pre>binary/&lt;packagename&gt;</pre> Example: <a href="binary/git">binary/git</a>
    <div style="display:none" id="form_div"><fieldset>
            <legend>Inspect package</legend>
            <noscript><b>This form is dysfunctional when javascript is not enabled</b></noscript>
            Enter binary package to inspect - Note: Non-existing packages will result in <b>404</b>-Errors
            <form id="pkg_form">
                <label for="pkg_name">Name: </label><input type="text" size="30" name="pkg_name" id="pkg_name">
                <input type="submit" value="Go"> Permanent Link: <a id="perma_link" href="#"></a>
            </form>
    </fieldset></div></li>
<li>To inspect a combination of binary packages go to <pre>compare/&lt;firstpackage&gt;/&lt;secondpackage&gt;</pre> Example: <a href="compare/git/git">compare/git/git</a></li>
<li>To discover package shipping a particular file go to <pre>hash/sha512/&lt;hashvalue&gt;</pre> Example: <a href="hash/sha512/7633623b66b5e686bb94dd96a7cdb5a7e5ee00e87004fab416a5610d59c62badaf512a2e26e34e2455b7ed6b76690d2cd47464836d7d85d78b51d50f7e933d5c">hash/sha512/7633623b66b5e686bb94dd96a7cdb5a7e5ee00e87004fab416a5610d59c62badaf512a2e26e34e2455b7ed6b76690d2cd47464836d7d85d78b51d50f7e933d5c</a></li>
</ul>
{% endblock %}
